.AlbumTracklist img {
  border-radius: 10px;
  margin: 1rem;
  width: 80%;
}

.AlbumTracklist .description {
  margin-left: 1rem;
}

.AlbumTracklist h2,
.AlbumTracklist p {
  margin: 0
}

.AlbumTracklist audio {
  width: 100%;
  margin-top: 2rem;
}

.AlbumTracklist li{
  cursor: pointer;
}

.AlbumTracklist i{
  margin-right: 9px;
  opacity: 0;
}

.AlbumTracklist li:hover i {
  opacity: 1;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 828px) {
  .AlbumTracklist .description {
    display: none;
  }

  .AlbumTracklist .TrackListContainer {
    padding: 0;
  }

  .AlbumTracklist img{
    display: block;
    margin: 1em auto;
  }

  .AlbumTracklist h2{
    text-align: center;
  }

  .TrackListContainer li {
    font-size: 0.9em;
  }

  .TrackListContainer i {
    display: none;
  }
}