.Modal{
  position: fixed;
  z-index: 500;
  background-color: white;
  left: 10%;
  right: 10%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  top: 5%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  min-height: auto;
  height: 90%;
  overflow-y: auto;
}

.Modal .CloseButton {
  position: fixed;
  right: 20px;
  color: black;
  z-index: 501;
  cursor: pointer;
}

.Modal .CloseButton:hover {
  color: red;
}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 828px) {
  .Modal .CloseButton {
    right: 10px;
  }
}