.SearchForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.SearchForm input {
  width: 20rem!important;
  margin-bottom: 10px;
}

.SearchForm button{
  width: 20rem;
}