.container{
    width:100%;
    padding:0!important;
    margin:0!important;
    max-width: 100%!important;
    min-height: calc(100vh - 4rem);
    background: #fff;
}

.fa{
    cursor: pointer;
}

.top-container{
    width: 70%;
    margin: 0 auto;
}

.container img{
    display: block;
    margin: 0 auto;
}

.wrapper-top-header h1{
    padding-bottom: 2rem;
    font-size: 3rem;
}

.container audio{
    width: 100%;
    display:block;
    margin: 0 auto;
}

.container-current-top{
    padding-top: 2rem;
    padding-bottom: 5rem;
    display:flex;
    justify-content: center;
}

.wrapper-top-preview{
    width: 30rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-favorite-genres{
    padding-bottom: 4rem;
    width:100%;
}

.progress{
    width: 25%;
    margin-top: 0.5rem;
}

.genres{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.fontawesome{
    width: 100px;
    height:100px;
    display:block;
}

.img-artwork{
    box-shadow: 0 0 20px #000;
    width: 90%;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 828px) {

    .container{
        overflow-x: hidden;
        position: relative;
    }

    .container-current-top{
        flex-direction: column;
    }

    .wrapper-top-header img{
        width: 60%;
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .wrapper-top-preview{
        width: 100%;
    }

    .wrapper-top-preview h4{
        font-size: 1.2rem;
    }

    #tp-artist-2{
        order: 2;
    }

    #tp-artist-1{
        order: 1;
    }

}