.container-login{
    padding: 4rem 0 0 20%;
    background: #eee;
    min-height: 100vh;
}

#react-app{
    padding-bottom: 1rem;
}

.container-login a{
    font-size: 3rem;
}

button{
    width: 10rem;
}

button span{
    color:#000;
}