.container-login{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.container-login a{
    font-size: 3rem;
}

.container-login p{
    font-size: 2rem;
}