h6{
    margin:0;
    padding:0;
}

.search-container{
    background: #efefef;
    min-height: calc(100vh - 4rem);
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}

input:focus::-moz-placeholder{
    color:transparent;
}

input:focus::-ms-input-placeholder{
    color:transparent;
}

.search-result{
    padding-top: 3rem;
}

.form-control{
    width: 20rem!important;
    margin: 1rem auto;
    text-align:center;
    background: #ddd!important;
}

.form-control:focus, .form-control:hover{
    background: #bbb!important;
}

.btn{
    width: 20rem!important;
    color: black!important;
}

.search-result h6{
    width: 20rem;
}

.image-artwork{
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
}

.image-artwork:hover{
    opacity: 0.7;
    cursor: pointer;
}