h6{
    margin:0;
    padding:0;
}

.search-container{
    background: #fff;
    min-height: calc(100vh - 4rem);
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}

input:focus::-moz-placeholder{
    color:transparent;
}

input:focus::-ms-input-placeholder{
    color:transparent;
}

.search-result{
    padding-top: 3rem;
}

.album-header{
    margin-left: 4rem;
    margin-right: 4rem;
    border-top: 1px black dotted;
    border-bottom: 1px black dotted;
}

.album-header:hover{
    cursor: pointer;
}

.text-center .form-control{
    width: 20rem!important;
    margin: 1rem auto;
    text-align:center;
    background: #fff!important;
    border: 2px #000 solid;
    color: #000;
}

.text-center .form-control:focus, 
.text-center  .form-control:hover{
    background: #bbb!important;
}

#album-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 2rem;
}

.btn{
    width: 20rem!important;
    color: black!important;
}

.search-result h6{
    width: 20rem;
}

.form-group{
    position: relative;
    width: 10rem;
    margin: 0 auto;
}

.form-group p{
    text-align: center;
    margin-bottom: 0;
}

.form-group .form-control{
    width: 100%;
}

.image-artwork{
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
}

.image-artwork:hover{
    opacity: 0.7;
    cursor: pointer;
}