body{
    overflow-x: hidden;
}

.top-track-container{
    background: #999;
    min-height: calc(100vh - 4rem);
}

.track-list:hover{
    list-style-type: none;
    position:relative;
    left: -1em;
    cursor:pointer;
}

.track-list i{
    display: none;
    opacity: 0.8;
}

.track-list:hover i{
    display: inline-block;
}