hr{
    margin: 3em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    display: flex;
    background: #EFEFEF;
    overflow-y:auto;
    width: 80%;
    height: 90vh;
    min-height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.track-list-container{
    padding: 3rem 3rem 3rem 5rem;
}

.display-block {
    display: block!important;
}

.display-none {
    display: none;
}

.artwork-container{
    flex-direction: column;
}

/* .track-info{
    width: 12em;
    padding-left: 3rem;
} */

.track-info h2,
.track-info p{
    width: 12em;
    margin-left: 3rem;
    margin-bottom: 0;
}
.track-info audio{
    margin-left: 3rem;
}

.track-item{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

.track-item:hover{
    position: relative;
}

.track-item i{
    opacity: 0;
    transition: opacity 0.3s;
    margin: 0.2em;
}

.track-item:hover i{
    opacity: 1;
}

.track-artwork{
    width: 100%;
    align-self: flex-start;
    padding: 3rem;
    
}

.modal-close-button{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color:red;
    font-size:2rem;
    background: #ddd;
    border: 1px black solid;
    cursor: pointer;
    float:right;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.modal-close-button:hover{
    background: #bbb;
    font-weight: bold;
}